.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    padding-top: 60px;
    overflow: hidden;
    @include sm {
        padding-top: 30px;
    }

    &__wrap {
        @include flex($justify: space-between);
    }

    &__logo {
        width: 80px;
        overflow: hidden;
        position: relative;
        z-index: 1002;

        img {
            display: block;
            width: 100%;
        }
    }

    &__nav {
        ul {
            @include flex;

            li + li {
                margin-left: 80px;
            }

            a {
                text-decoration: none;
                font-size: 18px;
                color: $title-color;
                transition: 0.15s linear;

                &:hover,
                &:focus {
                    opacity: .7;
                }
            }
        }

        @include sm {
            & {
               display: none;
               opacity: 0;
            }
        }

        &--active {
            display: block;
            opacity: 1;
           

            ul {
                position: fixed;
                z-index: 1001;
                top: 0;
                left: 0;
                @include flexCenter(column, $align:center);
                @include size(100vw, 100vh);
                background-color: rgba($color:$bg-color, $alpha: .8);
                li + li {
                    margin: 20px 0 0 0;
                }
            }
        }
       
    }

    &__fixed {
        position: fixed;
        z-index: 1002;
        background-color: rgba($color:$bg-color, $alpha: 0.7);
        transition: .3s linear;
        padding: 20px 0;
        box-shadow: 0 5px 15px 0 $text-color;

        &:hover {
             background-color: rgba($color:$bg-color, $alpha: 1);
        }
    }

    .burger__menu {
        display: none;

        @include sm {
            & {
                display: flex;
            }
        }
    }
}


.header.header__fixed {
    .header__logo {
        transition-delay: 1s;
        animation: emergence .5s  ease-in-out;
    }
}

@keyframes emergence {
    0% {
        transform: translateY(-1000px);
    }
    100% {
        transform: translateY(0);
    }
}




